.con{
  width: 31%;
  margin: auto;
  padding-top: 2rem;
  background-color: beige;
  padding: 2rem;
  margin-top: 2rem;
}
.con h1{
  text-align: center;
  font-family: 'Merriweather', serif;
}

.bb{
  margin-left: 40%;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

@media (max-width: 768px) {
  .con{
    width: 50%;
  }
 }