{% extends 'layout.html'%}

{%block title%}
<title>Bkreviews</title>
{% endblock %}

{% block links%}
{% endblock%}

{% block con %}
  <h1>welcome to booknuggets beta version</h1>
  <form action="/" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp"
        placeholder="ISBN, Title or Author ">
      <small id="bookHelp" class="form-text text-muted">Example: 0375590675, How to learn or Kelvin sins </small>
    </div>
    <button>submit</button>
  </form>
{% endblock %}