{% extends 'layout.html'%}

{%block title%}
<title>Bkreviews</title>
{% endblock %}

{% block links%}
{% endblock%}

{% block con %}
  <h1>welcome to booknuggetss beta version</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages%}
      <div class="alert alert-danger" role="alert">
        <p>{{ messages[0] }}</p>
      </div>
    {% endif %}
  {% endwith%}
  <form action="/search" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp"
        placeholder="ISBN, Title or Author ">
      <small id="bookHelp" class="form-text text-muted">Example: 0375590675, How to learn or Kelvin sins </small>
    </div>
    <button>submit</button>
  </form>
  <div class="suggestions">
    <h3>check out this picks</h3>
    <div class="row">
      {% for suggestion in suggestions%}
       <div class="col-6 col-md-4">
         <div class="sugcon">
          <a href="/book/{{suggestion.isbn}}" ><img src="http://covers.openlibrary.org/b/isbn/{{ suggestion.isbn}}-M.jpg " width="130px" alt="image not found">
          <p>{{suggestion.title}}</p></a>
         </div>
       </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}