{% extends 'layout.html'%}

{%block title%}
<title>{{title}}</title>
{% endblock %}

{% block links%}
<link rel="stylesheet" href="{{ url_for('static',filename='bookpage.css') }}">
{% endblock %}

{% block con %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-M.jpg">
    </div>
    <div class="col-sm-4">
      <p class="name">Title: {{ title }}</p>
      <p>Author: {{ author }}</p>
      <p>Published on {{ year }}</p>
      <p>ISBN-10: {{isbn}}</p>
      <p class="rate"> Average rating score: {{ av}}</p>
    </div>

    <!--GOODREADS REVIEWS -->
    <div class="col-sm-4 gd">
      <h5 class="rr">Nº of Ratings: <span>{{ wrc }}</span></h5>
      <h5>Average rating score: <span>{{ av }}</span></h5>
      <h5 class="link">
        <a href="https://www.goodreads.com/search?q={{ title }}">Goodreads page</a>
      </h5>
    </div>
  </div>

  <div class="reveiws">
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages%}
      <div class="alert alert-info" role="alert">
        {{ messages[0] }} 
      </div>
      {% endif %}
      {% endwith%}
    </div>
    <div class="rating">
      <form method= "POST" action="{{ url_for('main.book', isbn=isbn) }}">
        <input type="text" name="comment" placeholder="say something about this book"required>
        <button>submit</button>
      </form>
    </div>
  </div>

  <div class="userreviews">
    {% if check %}
      {%for review in reviews%}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1" style="color:black">{{review.feedback.username}}</p>
            <small>{{review.dateposted.strftime("%b %d %Y %H:%M:%S")}}</small>
          </div>
          <p class="mb-1">{{review.comment}}</p>
        </a>
        <div class="dropdown-divider"></div>
      </div>
      {% endfor %}
    {%else%}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <p class="mb-1">No reviews yet</p>
        </a>
        <div class="dropdown-divider"></div>
      </div>
    {% endif %}
    
  </div>
</div>
{% endblock %}