{% extends 'layout.html'%}
{% block con %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-M.jpg" width="130px">
    </div>
    <div class="col-sm-4">
      <p>{{ title }}</p>
      <p>Author: {{ author }}</p>
      <p>Published on {{ year }}</p>
      <p>ISBN-10: {{isbn}}</p>
      <p> Average rating score: {{ av}}</p>
    </div>

    <!--GOODREADS REVIEWS -->
    <div class="col-sm-4">
      <h5>Nº of Ratings: {{ wrc }}</h5>
      <h5>Average rating score: {{ av }}</h5>
      <h5>
        <a href="https://www.goodreads.com/search?q={{ title }}">Goodreads page</a>
      </h5>
    </div>
  </div>
  <div class="reveiws">
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages%}
      <div class="alert alert-danger" role="alert">
        {{ messages[0] }} 
      </div>
      {% endif %}
      {% endwith%}
    </div>
    <div class="rating">
      <form method= "POST" action="/book">
        <div class="form-group col-sm">
          <label for="rating">Rate this book</label>
          <select id="rating" name="rate" class="form-control" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option selected value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <input type="text" name="comment" placeholder="type your reviews here"required>
        <button>submit</button>
      </form>
    </div>
  </div>
  <div class="userreviews">
    {%for review in reviews%}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1" style="color:burlywood">{{review['username']}} said...</h6>
            <small>{{review['time']}}</small>
          </div>
          <p class="mb-1">{{review['comment']}}</p>
          <small>Rated: {{review['rating']}}</small>
        </a>
        <div class="dropdown-divider"></div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}