{% extends 'layout.html'%}

{% block con %}
  <div class="profilecon">
    <table>
      <tr valign="top">
        <td><img src="{{ current_user.avatar(128) }}"></td>
        <td>
          <h1>User: {{ current_user.username }}</h1>
          <p>Email: {{current_user.email}}</p>
        </td>
      </tr>
    </table>
  </div>

    <div class="yourreviews">
      <p>your review historry</p>
      {%for rev in info%}
        <div class="list-group">
          <p class="mb-1" style="color:black">{{rev.username}}</p>
          <small>{{rev.dateposted.strftime("%b %d %Y %H:%M:%S")}}</small>
          <p class="mb-1">"{{rev.comment}}" <span> <a href="/book/{{rev.book_isbn}}">-book isbn: {{rev.book_isbn}}</a></span><span><a href="{{ url_for('main.delete', id=rev.id) }}"><button class="delete">Delete</button></a></span></p>
        </div>
      {% endfor %}
    </div>

{% endblock %}